- 分组
    - 对谁进行分组（group），就是对谁进行reduce（聚合），这些都会变成 distinct；
- pivot table：数据透视表，适用于 categorical 型数据
    - 理解为一个矩阵，index 表示行索引，column 表示列索引，value 则是对应的 entry 的值；
    - 对 values 默认的聚合函数是 `aggfunc: AggFuncType = "mean"`

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./data/athlete_events.csv')

In [4]:
df.shape

(271116, 15)

In [5]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
# 平均身高
df['Height'].mean()

175.33896987366376

In [7]:
# 平均身高, per year
df.groupby('Year')['Height'].mean()

Year
1896    172.739130
1900    176.637931
1904    175.788732
1906    178.206226
1908    177.543158
1912    177.447989
1920    175.752282
1924    174.963039
1928    175.162051
1932    174.220115
1936    175.723993
1948    176.172797
1952    174.138940
1956    173.900968
1960    173.141286
1964    173.448574
1968    173.945865
1972    174.565363
1976    174.920528
1980    175.527488
1984    175.540855
1988    175.745252
1992    176.174649
1994    175.169862
1996    175.895121
1998    174.581369
2000    176.089721
2002    174.702451
2004    175.972850
2006    174.623172
2008    176.211062
2010    174.918182
2012    176.262469
2014    174.816670
2016    176.034266
Name: Height, dtype: float64

In [11]:
len(df.groupby('Year')['Height'].mean())

35

In [10]:
# 平均身高, per year & per country （team）
df.pivot_table(index='Year', columns='Team', values='Height').shape

(35, 699)

In [13]:
# aggfunc: AggFuncType = "mean",
# df.pivot_table??